<% provide(:title, "Gadget : "+@gadget.name) %> 
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @gadget.name %><br />
      </h1>
      <%= render 'icon', gadget: @gadget %>
    </section>
    <div class="count"><%= pluralize(@gadget.menu_categories.count, "menu category") %></div>
    <% if current_user.admin? %>
      <span><%= link_to "Edit Gadget Info", edit_gadget_path %></span>
      <span class="back-link"> | <%= link_to "Back", @gadget.app %></span>
    <% end %>
  </aside>
  <div class="span8">
    <%= render @gadget.type.downcase %>
  </div>
</div>
