<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to(root_path) do %>
        <span id="logo-left">menu</span><span id="logo-right">machine</span>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "Users", root_path %></li>
            <% else %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Categories <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to "Add Menu Category", new_menu_category_path %>
                  <% if MenuCategory.find_all_by_user_id(current_user.id).any? %>
                    <li class="divider"></li>
                  <% end %>
                  <% MenuCategory.find_all_by_user_id(current_user.id).each do |menu_category| %>
                    <li>
                      <%= link_to menu_category.name, menu_category %></li>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign In", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>